<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "プロフィール編集", edit_user_registration_path, class: "sidebar-link active" %></li>
    </ul>
    <br/>
    <%= link_to "View My Profile", user_path(current_user.id), class: "btn btn-default" %>
  </div>
  <div class="col-md-9 text-center">
    <div class="panel panel-default">
      <div class="panel-heading">プロフィール</div>
      <div class="panel-body">
        <div class="container">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

          <div class="gravatar_edit">
            <%= gravatar_for @user %><br/><br/>
            <a href="http://gravatar.com/emails" target="_blank">画像を変更</a><br/><br/>
          </div>

            <div class="form-group">
              <%= f.text_field :fullname, autofocus: true, placeholder: "名前", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.text_field :phone_number, autofocus: true, placeholder: "例）09012345678", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.text_area :description, rows: 5, cols: 25, autofocus: true, placeholder: "自己紹介", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "form-control" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="actions">
              <%= f.submit "更新", class: "btn btn-normal btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
