<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <h2 class="text-center">無料登録</h2>
    <br/>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="form-group">
        <%= f.text_field :fullname, autofocus: true, placeholder: "名前", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "登録する", class: "btn btn-primary" %>
      </div>
    <% end %>
    <hr/>
  </div>
</div>
