<div class="row">
  <div class="col-md-3">
    <div class="center">
      <div class="text-center">
        <%= gravatar_for @user %>
      </div><br/>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">お問い合わせ</div>
      <div class="panel-body">

        <ul class="sidebar-list">
          <li><%= @user.email %><span class="pull-right icon-babu"></span></li>
          <li><%= @user.phone_number %><span class="pull-right icon-babu"></span></li>
        </ul>

      </div>
    </div>
  </div>

  <div class="col-md-9">
    <h2><%= @user.fullname %></h2>

    <div class="description row-space-3">
      <%= @user.description %>
    </div>

    <h4>登録中Camera (<%= @cameras.length %>)</h4><br/>

    <div class="row">
      <%= render partial: "cameras/cameras_list", locals: {cameras: @cameras} %>
    </div>
    <br/>
  </div>
</div>
