<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <h3 class="text-center">パスワードをお忘れですか？</h3>
    <br/>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render 'shared/devisemes' %>

      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "変更メールが届きます", class: "btn btn-primary form-control" %>
      </div>
    <% end %>
  </div>
</div>
