<div class="about-container" style="background-image: url('/assets/IMG_3774.jpg')">
  <div class="row">
    <div class=" banner text-center">
      <h3 class="text-red">ShareCameraとは</h3><br/>
      <h4>「カメラを貸したい人」と「カメラを借りたい人」</h4>
      <h4>これらを繋ぐシェアリングサービスです。</h4><br/>
      <h4>たくさんの自然や風景を撮りたい。</h4>
      <h4>旅行先での大切な思い出をキレイに残したい。</h4><br/>
      <h4>カメラを片手に日常をちょっぴり豊かにしませんか？</h4>

    </div>
  </div>

</div>
