<div class="row">
  <div class="col-md-7 banner">
    <h1><span class="text-red">ShareCamera</span> <br/>いつでもどこでも最高の一枚を。</h1>
  </div>
</div>

<%= form_tag search_path, method: :get do %>
  <div class="row">
    <div class="col-md-6">
      <%= text_field_tag :search, params[:search], placeholder: "ロケーション", class: "form-control", id: "autolocation" %>
    </div>
    <div class="col-md-3">
      <%= text_field_tag :start_date, params[:start_date], placeholder: "開始日", class: "form-control datepicker" %>
    </div>
    <div class="col-md-3">
      <%= text_field_tag :end_date, params[:end_date], placeholder: "終了日", class: "form-control datepicker" %>
    </div>
  </div>
  <br/><br/>

  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <%= submit_tag "検索する", class: "btn btn-normal btn-block" %>
    </div>
  </div>
<% end %>

<br/><hr/><br/>

<!-- Cameras -->
<div><h3>Cameras</h3></div>
<br/>

<div class="row">
  <%= render partial: "cameras/cameras_list", locals: {rooms: @rooms} %>
</div>

<!-- CITIES -->
<div><h3>ロケーション</h3></div>
<br/>

<div class="row">
  <div class="col-md-3 col-sm-12">
    <a href="http://share-camera.herokuapp.com/search?utf8=%E2%9C%93&search=%E5%8C%97%E6%B5%B7%E9%81%93%E6%9C%AD%E5%B9%8C%E5%B8%82%E4%B8%AD%E5%A4%AE%E5%8C%BA">
      <div class="discovery-card" style="background-image: url('/assets/IMG_3759.jpg')"></div>
      <h4 class="text-center">- 北海道 -</h4>
    </a>
  </div>
  <div class="col-md-3 col-sm-12">
    <a href="http://share-camera.herokuapp.com/search?utf8=%E2%9C%93&search=%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%B8%AF%E5%8C%BA%E8%8A%9D%E5%85%AC%E5%9C%92">
      <div class="discovery-card" style="background-image: url('/assets/IMG_3763.jpg')"></div>
      <h4 class="text-center">- 東京 -</h4>
    </a>
  </div>
  <div class="col-md-3 col-sm-12">
    <a href="http://share-camera.herokuapp.com/search?utf8=%E2%9C%93&search=%E4%BA%AC%E9%83%BD%E5%BA%9C%E4%BA%AC%E9%83%BD%E5%B8%82%E5%8C%97%E5%8C%BA">
      <div class="discovery-card" style="background-image: url('/assets/IMG_3761.jpg')"></div>
      <h4 class="text-center">- 京都 -</h4>
    </a>
  </div>
  <div class="col-md-3 col-sm-12">
    <a href="http://share-camera.herokuapp.com/search?utf8=%E2%9C%93&search=%E6%B2%96%E7%B8%84%E7%9C%8C%E9%82%A3%E8%A6%87%E5%B8%82">
      <div class="discovery-card" style="background-image: url('/assets/IMG_3762.jpg')"></div>
      <h4 class="text-center">- 沖縄 -</h4>
    </a>
  </div>
</div><br/><br/>


<script>
  $('#start_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr("disabled", false);
    }
  });

  $('#end_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#start_date').datepicker("option", "maxDate", selected);
    }
  });

  $(function() {
    $("#autolocation").geocomplete();
  })
</script>
