<div id="main">
  <div id="left">
    <!-- SEARCH PANEL -->
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <button id="filter" class="btn btn-default" data-toggle="collapse" data-target="#collapsePanel">
          さらに絞る <i class="fa fa-chevron-down"></i>
        </button>
      </div>
    </div>

    <div class="row">
      <br/>
      <div class="collapse" id="collapsePanel">

          <%= search_form_for @search, url: search_path, remote: true do |f| %>

              <div class="row">
                <div class="col-md-8">
                  <label>利用料金:</label>
                  <div id="slider-range"></div>
                </div>
                <div class="col-md-2">
                  <label>下限:</label>
                  <%= f.text_field :price_gteq, class: "form-control" %>
                </div>
                <div class="col-md-2">
                  <label>上限:</label>
                  <%= f.text_field :price_lteq, class: "form-control" %>
                </div>
              </div>
              <hr/>

              <div class="row">
                <div class="col-md-6">
                  <%= text_field_tag :start_date, params[:start_date], readonly: true, placeholder: "開始日", class: "form-control datepicker" %>
                </div>
                <div class="col-md-6">
                  <%= text_field_tag :end_date, params[:end_date], readonly: true, placeholder: "終了日", class: "form-control datepicker" %>
                </div>
              </div>
              <hr/>

              <div class="row">
                <div class="col-md-4">
                  <%= check_box_tag "q[camera_type_eq_any][]", "一眼レフ" %> 一眼レフ
                </div>
                <div class="col-md-4">
                  <%= check_box_tag "q[camera_type_eq_any][]", "ミラーレス" %> ミラーレス
                </div>
                <div class="col-md-4">
                  <%= check_box_tag "q[camera_type_eq_any][]", "GoPro" %> GoPro
                </div>
              </div>
              <hr/>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group select">
                    <label>メーカー</label>
                    <%= f.select :company_type, [["Canon", "Canon"], ["Nikon", "Nikon"], ["SONY", "SONY"], ["FUJIFILM", "FUJIFILM"], ["OLYMPUS", "OLYMPUS"]],
                                  id: "company_type", prompt: "選択", class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group select">
                    <label>使用歴</label>
                    <%= f.select :use_history, [["1年未満", "1年未満"], ["1~2年", "1~2年"], ["2~3年", "2~3年"], ["3年以上", "3年以上"]],
                                  id: "use_history", prompt: "選択", class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group select">
                    <label>Camera状態</label>
                    <%= f.select :condition, [["ほぼ新品", "ほぼ新品"], ["問題なし", "問題なし"], ["一部不具合", "一部不具合"], ["故障あり", "故障あり"]],
                                  id: "condition", prompt: "選択", class: "form-control" %>
                  </div>
                </div>
              </div>
              <hr/>

              <div class="row">
                <div class="col-md-4">
                  <%= check_box_tag "q[is_camera_case]", true %> Cameraケース
                </div>
                <div class="col-md-4">
                  <%= check_box_tag "q[is_camera_leg]", true %> 三脚
                </div>
                <div class="col-md-4">
                  <%= check_box_tag "q[is_light]", true %> 撮影ライト
                </div>
              </div>
              <hr/>

              <div class="row text-center">
                <%= f.submit "検索する", class: "btn btn-form" %>
              </div>
          <% end %>
      </div>
      <br/>
      <div class="row" id="camera_listing">
        <%= render partial: "cameras/cameras_list", locals: {cameras: @cameras} %>
      </div>
    </div>
  </div>

  <div id="right">
    <!-- GOOGLE MAP WILL BE HERE -->

    <div id="map" style="width: 100%; height: 100%"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQggixzes7XwzGsniZ7xRDB9y-ZjSfH-w&callback=initMap" async defer></script>
    <script>
        function initialize(cameras) {
          var location = {lat: 44.5403, lng: -78.5463}

          if (cameras.length > 0) {
            location = {lat: cameras[0].latitude, lng: cameras[0].longitude}
          }

          var map = new google.maps.Map(document.getElementById('map'), {
            center: location,
            zoom: 12
          });

          var marker, inforwindow;

          cameras.forEach(function(camera) {
            marker = new google.maps.Marker({
              position: {lat: camera.latitude, lng: camera.longitude},
              map: map
            });

            inforwindow = new google.maps.InfoWindow({
              content: "<div class='map_price'>¥" + camera.price + "</div>"
            });

            inforwindow.open(map, marker);
          })
        }

        google.maps.event.addDomListener(window, 'load', function() {
          initialize(<%= raw @arrcameras.to_json %>)
        });
    </script>
  </div>
</div>



<script>
  $('#start_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr("disabled", false);
    }
  });

  $('#end_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#start_date').datepicker("option", "maxDate", selected);
    }
  });

  var open = true;

  $('#filter').click(function() {
    if (open) {
      $('#filter').html("More filters <i class='fa fa-chevron-up'></i>")
    } else {
      $('#filter').html("More filters <i class='fa fa-chevron-down'></i>")
    }
    open = !open;
  });
</script>

<script>
  $(function() {
    $("#q_price_gteq").val('500');
    $("#q_price_lteq").val('3000');

    $("#slider-range").slider({
      range: true,
      min: 0,
      max: 5000,
      values: [500, 3000],
      slide: function(event, ui) {
        $("#q_price_gteq").val(ui.values[0]);
        $("#q_price_lteq").val(ui.values[1]);
      }
    });

    $(".ui-widget-header").css('background', '#00A699');
    $(".ui-state-default, .ui-widget-content").css('background', 'white');
    $(".ui-state-default, .ui-widget-content").css('border-color', '#00A699');
  })
</script>
