<div class="col-md-3">
  <ul class="sidebar-list">
    <li class="sidebar-item"><%= link_to "登録中Camera", cameras_path, class: "sidebar-link active" %></li>
    <li class="sidebar-item"><%= link_to "貸したCamera", your_reservations_path, class: "sidebar-link active" %></li>
    <li class="sidebar-item"><%= link_to "借りたCamera", your_trips_path, class: "sidebar-link active" %></li>
  </ul>
</div>
