<div class="row">
  <%= render "sidebar_list" %>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        借りたCamera
      </div>
      <div class="panel-body"><br/><br/>

        <% @trips.each do |trip| %>
          <div class="row">
            <div class="col-md-2">
              <%= trip.start_date.strftime('%Y年%-m月%-d日') %><br/><br/>
              <span>
                <%= link_to user_path(trip.camera.user) do %>
                  <h6><%= trip.camera.user.fullname %></h6>
                <% end %>
              </span>
            </div>
            <div class="col-md-2">
              <%= link_to camera_path(trip.camera) do %>
                <%= image_tag trip.camera.cover_photo(:thumb) %>
              <% end %>
            </div>
            <div class="col-md-5">
              <%= link_to trip.camera.listing_name, camera_path(trip.camera) %>
            </div>
          </div><br/>
          <hr/>
        <% end %>
      </div>
    </div>
  </div>
</div>
