<div class="row">
  <%= render "sidebar_list" %>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        貸したCamera
      </div>
      <div class="panel-body"><br/><br/>

        <% @cameras.each do |camera| %>
            <% camera.reservations.each do |reservation| %>
                <div class="row">
                  <div class="col-md-2">
                    <%= reservation.start_date.strftime('%Y年%-m月%-d日') %>
                    <span>
                      <%= link_to user_path(reservation.user) do %>
                        <h6><%= reservation.user.fullname %></h6>
                      <% end %>
                    </span>
                  </div>
                  <div class="col-md-2">
                    <%= link_to camera_path(reservation.camera) do %>
                        <%= image_tag reservation.camera.cover_photo(:thumb) %>
                    <% end %>
                  </div>
                  <div class="col-md-5">
                    <%= link_to reservation.camera.listing_name, camera_path(reservation.camera) %><br/><br/>
                  </div>
                </div><br/>
                <hr/>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
