<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <h2 class="text-center">ログイン</h2>
    <br/>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード", class: "form-control" %>
      </div>

      <div>
        <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me %> Remember Me
        <% end %>
      </div>

      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-primary form-control" %>
      </div>
    <% end %>
</div>
