<% @cameras.each do |camera| %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading preview">
          <%= image_tag camera.cover_photo(:medium) %>
        </div>
        <div class="panel-body">
          <%= link_to camera.listing_name, camera %><br/>
          ¥<%= camera.price %> - <%= camera.camera_type %> - <%= camera.company_type %>
          <div id="star_<%= camera.id %>"></div>
        </div>
      </div>
    </div>
<% end %>
