<div class="panel-body">
  <div class="container">

    <%= form_for @camera do |f| %>
      <div class="row"><br/><br/>
        <div class="col-md-3 select text-center">
          <div class="form-group">
            <label>Cameraタイプ</label>
            <%= f.select :camera_type, [["一眼レフ", "一眼レフ"], ["ミラーレス", "ミラーレス"], ["GoPro", "GoPro"]],
                          id: "camera_type", prompt: "選択", class: "form-control" %>
          </div>
        </div>

        <div class="col-md-3 select text-center">
          <div class="form-group">
            <label>メーカー</label>
            <%= f.select :company_type, [["Canon", "Canon"], ["Nikon", "Nikon"], ["SONY", "SONY"], ["FUJIFILM", "FUJIFILM"], ["OLYMPUS", "OLYMPUS"]],
                          id: "company_type", prompt: "選択", class: "form-control" %>
          </div>
        </div>

        <div class="col-md-3 select text-center">
          <div class="form-group">
            <label>使用歴</label>
            <%= f.select :use_history, [["1年未満", "1年未満"], ["1~2年", "1~2年"], ["2~3年", "2~3年"], ["3年以上", "3年以上"]],
                          id: "use_history", prompt: "選択", class: "form-control" %>
          </div>
        </div>

        <div class="col-md-3 select text-center">
          <div class="form-group">
            <label>Camera状態</label>
            <%= f.select :condition, [["ほぼ新品", "ほぼ新品"], ["問題なし", "問題なし"], ["一部不具合", "一部不具合"], ["故障あり", "故障あり"]],
                          id: "condition", prompt: "選択", class: "form-control" %>
          </div>
        </div>

      </div><br/><br/>
      <div class="text-center">
        <div><%= f.submit "登録", class: "btn btn-normal" %></div><br/>
      </div>
    <% end %>
  </div>
</div>
