<div class="row">
  <div class="col-md-3">
    <%= render 'camera_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        補助機材
      </div>

      <div class="panel-body">
        <div class="container">
          <%= form_for @camera do |f| %>
            <br/><br/>

            <div class="row form-group text-center">
              <div class="col-md-4">
                <%= f.check_box :is_camera_case %> Cameraケース
              </div>
              <div class="col-md-4">
                <%= f.check_box :is_camera_leg %> 三脚
              </div>
              <div class="col-md-4">
                <%= f.check_box :is_light %> 撮影ライト
              </div>
            </div>

          </div>
          <br/><br/>

          <div class="text-center">
            <%= f.submit "保存", class: "btn btn-form" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
