<div class="row">
  <div class="col-md-3">
    <%= render 'camera_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        Camera紹介
      </div>

      <div class="panel-body">
        <div class="container">
          <%= form_for @camera do |f| %>

            <div class="row">
              <div class="form-group"><br/>
                <label>タイトル</label>
                <%= f.text_field :listing_name, placeholder: "タイトルを入力してください", class: "form-control", required: true %>
              </div>
            </div>

            <div class="row">
              <div class="form-group"><br/>
                <label>メッセージ</label>
                <%= f.text_area :summary, rows: 5, placeholder: "あなたの魅力を伝えよう！", class: "form-control", required: true %>
              </div>
            </div>

            <div class="text-center"><br/>
              <%= f.submit "保存", class: "btn btn-form" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
