<div class="row">
  <%= render "reservations/sidebar_list" %>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        登録中Camera
      </div>
      <div class="panel-body"><br/><br/>

        <% @cameras.each do |camera| %>
          <div class="row">
            <div class="col-md-2">
              <%= image_tag camera.cover_photo(:thumb) %>
            </div>
            <div class="col-md-7">
              <h4><%= camera.listing_name %></h4>
            </div>
            <div class="col-md-3 right">
              <%= link_to "編集", listing_camera_path(camera), class: "btn btn-form" %>
            </div>
          </div><br/>
          <hr/>
        <% end %>
      </div>
    </div>
  </div>
</div>
