<div class="row">
  <div class="col-md-3">
    <%= render 'camera_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        登録中Camera
      </div>
        <%= render 'register_camera' %>
    </div>
  </div>
</div>
