<div class="row">
  <div class="col-md-3">
    <%= render 'camera_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        受取場所
      </div>

      <div class="panel-body">
        <div class="container">
          <%= form_for @camera do |f| %>

            <div class="row">
              <div class="form-group"><br/><br/>
                <label>住所</label>
                <%= f.text_field :address, placeholder: "受取できる住所を入力してください", class: "form-control", required: true, id: "autoaddress" %>
              </div>
            </div>

            <div class="text-center"><br/><br/>
              <%= f.submit "保存", class: "btn btn-form" %>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $("#autoaddress").geocomplete();
  })
</script>
