<div class="row">
  <div class="col-md-3">
    <%= render 'camera_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        レンタル料金
      </div>

      <div class="panel-body">
        <div class="container">
          <%= form_for @camera do |f| %>

            <div class="row">
              <div class="form-group"><br/><br/>
                <label>料金</label>
                <%= f.text_field :price, placeholder: "例) 1000", class: "form-control", required: true %>
              </div>
            </div>

            <div class="text-center"><br/><br/>
              <%= f.submit "保存", class: "btn btn-form" %>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
