<!-- Image -->
<div class="row">
  <div class="col-md-12">
  </div>
</div>
<br/>

<div class="row">

  <!-- LEFT PANEL -->
  <div class="col-md-8">

    <!-- Listing Name -->
    <div class="row">
      <div class="col-md-8">
        <h1><%= @camera.listing_name %></h1>
        <%= @camera.address %>
      </div>
      <div class="col-md-4 text-center">
        <%= gravatar_for @camera.user %><br/><br/>
        <%= @camera.user.fullname %>
      </div>
    </div>
    <hr/>

    <!-- camera Info -->
    <div class="row text-babu">
      <div class="row text-center row-space-1">
        <div class="col-md-3">
          <i class="fa fa-camera fa-2x"></i>
        </div>
        <div class="col-md-3">
          <i class="fa fa-copyright fa-2x"></i>
        </div>
        <div class="col-md-3">
          <i class="fa fa-clock-o fa-2x"></i>
        </div>
        <div class="col-md-3">
          <i class="fa fa-exclamation-circle fa-2x"></i>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-3"><%= @camera.camera_type %></div>
        <div class="col-md-3"><%= @camera.company_type %></div>
        <div class="col-md-3"><%= @camera.use_history %></div>
        <div class="col-md-3"><%= @camera.condition %></div>
      </div>

    </div>
    <hr/>

    <!-- About -->
    <div class="row">
      <div class="col-md-12">
        <h3>登録者からのメッセージ</h3>
        <p><%= @camera.summary %></p>
      </div>
    </div>
    <hr/>

    <!-- Amenities -->
    <div class="row">
      <div class="col-md-3"><br/>
        <h4>補助機材</h4>
      </div>

      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6">
            <ul class="amenities">
              <li class="<%= 'text-line-through' if !@camera.is_camera_case %>">Cameraケース</li>
              <li class="<%= 'text-line-through' if !@camera.is_camera_leg %>">三脚</li>
              <li class="<%= 'text-line-through' if !@camera.is_light %>">撮影ライト</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <hr/>

    <!-- Carousel -->
    <div class="row">

      <% if @photos.length > 0 %>
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <% @photos.each do |photo| %>
                <li data-target="#myCarousel" data-slide-to="<%= photo.id %>"></li>
            <% end %>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <% @photos.each do |photo| %>
                <div class="item <%= 'active' if photo.id == @photos[0].id %>">
                  <%= image_tag photo.image.url() %>
                </div>
            <% end %>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      <% end %>

    </div>
    <hr/>

    <!-- GOOGLE MAP -->
    <div class="row">
      <div id='map'></div>

        <style>#map{ width: 100%;height: 400px;}</style>

        <script>
          let map
            function initMap(){
              geocoder = new google.maps.Geocoder()
              var location = {lat: <%= @camera.latitude %>, lng: <%= @camera.longitude %>};
              map = new google.maps.Map(document.getElementById('map'), {
                center: location,
                zoom: 12,
              });

              marker = new google.maps.Marker({
                position:  location,
                map: map
              });
            }

            let geocoder
              function codeAddress(){
                let inputAddress = document.getElementById('address').value;
                geocoder.geocode( { 'address': inputAddress}, function(results, status) {
                  if (status == 'OK') {
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                      map: map,
                      position: results[0].geometry.location
                    });
                  } else {
                    alert('該当する結果がありませんでした：' + status);
                  }
                });
              }
            </script>

            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQggixzes7XwzGsniZ7xRDB9y-ZjSfH-w&callback=initMap" async defer></script>
          </div>
          <hr/>
        </div>

  <!-- RIGHT PANEL -->
  <div class="col-md-4">
    <!-- Reservation Form -->
    <%= render 'reservations/form' %>
  </div>
</div>
