$('#photos').html("<%= j render 'photos_list' %>")
<% if @camera.photos.blank? %>
  $('#photo_check').hide();
<% end %>

<% if !@camera.active && !@camera.price.blank? && !@camera.listing_name.blank? && !@camera.photos.blank? && !@camera.address.blank? %>
    $('#publish_button').attr('disabled', false);
<% else %>
    $('#publish_button').attr('disabled', true);
<% end %>
