<% if @guest_reviews.count == 0 %>
  <div class="text-center">
    <h4>レビューはありません。</h4>
  </div>
<% else %>

  <% @guest_reviews.order(id: :desc).each do |r| %>
    <hr/>
    <div class="row">
      <div class="col-md-3 text-center">
        <%= image_tag avatar_url(r.guest), class: "img-circle avatar-medium" %><br/><br/>
        <strong><%= r.guest.fullname %></strong>
      </div>
      <div class="col-md-9">
        <div id="star_<%= r.id %>"></div>

        <% if current_user && current_user == r.guest %>
            <span class="pull-right">
              <%= link_to r, method: :delete, data: {confirm: "Are you sure?"} do %>
                  <i class="fa fa-trash-o fa-lg"></i>
              <% end %>
            </span>
        <% end %>
        <div><%= r.created_at.strftime("%v") %></div>
        <div><%= r.comment %></div>
      </div>
    </div>

    <script>
      $('#star_<%= r.id %>').raty({
        path: '/assets',
        readOnly: true,
        score: <%= r.star %>
      });
    </script>

  <% end %>
<% end %>
