<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-normal" data-toggle="modal" data-target="#myModal_<%= reservation.id %>">
  レビューする
</button>

<!-- Modal -->
<div id="myModal_<%= reservation.id %>" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-left">ホストをレビューする</h4>
      </div>
      <div class="modal-body">

        <%= form_for current_user.guest_reviews.new do |f| %>
          <div class="form-group text-center">
            <script src="assets/jquery.raty.js"></script>
              <div id="star"></div>
          </div>
          <div class="form-group">
            <%= f.text_area :comment, rows: 3, class: "form-control" %>
          </div>

          <%= f.hidden_field :camera_id,      value: reservation.camera.id %>
          <%= f.hidden_field :reservation_id, value: reservation.id %>
          <%= f.hidden_field :host_id,        value: reservation.camera.user.id %>

          <div class="text-center">
            <%= f.submit "投稿する", class: "btn btn-normal" %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

<script>
$(function () {
  $('#star').raty({　　　
    size: 36,
    starOff: "/assets/star-off.png",
    starOn: "/assets/star-on.png",
    scoreName: "score"
  });
});
</script>
