<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Camerashare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'layouts/shim' %>

  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/message' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
